	<div class = 'result window'>
		<table id = 'resultTable'>
			<tbody>
				<tr>
					<th>Компания</th>
					<th>Тип доставки</th>
					<th>Цена, рублей</th>
					<th>Срок доставки, дней</th>
				</tr>
			</tbody>
		</table>
		<div id = "load">
		</div>
	</div>
