	<table class = 'resultTable'>
		<tr>
			<th>Компания</th>
			<th>Тип доставки</th>
			<th>Цена, рублей</th>
			<th>Срок доставки</th>
		</tr>
	<% @providersQuote.each do |providerQuote| %>
		<tr>
			<td><%= providerQuote.companyName %></td>
			<td>Экспресс </td>
			<td><%= providerQuote.price %></td>
			<td><%= providerQuote.time %></td>
		</tr>
	<% end %>
	</table>
