<% content_for(:title){ @page.title }%>
<div class = 'window page-content'/>
  <h2 class = 'pagetitle'><%= @page.title %></h2>
  <div class = 'pagecontent'><%= @page.content.html_safe %></div>
</div>
