/*
 *= require_self
 *= require_tree .
 *= require jquery.ui.autocomplete
 */
*{
	font-family: "Trebuchet MS";
}

a{
	color:#008dcd;
}
body{
	margin:0;
	padding:0;
	width:100%;
	background-image: url("back.jpg");
}

/*General  stuff*/
.mainwrap{
	width:960px;
	margin:0 auto;
}
.window{
	padding:20px 0;
	margin:20px 0;
	background-color:#fff;
}
.window-vpadding{
	padding-left:20px;
	padding-right:20px;
}
/*headpart*/
.headpart{
	background-color:#fff;
	margin-top:0;
	min-width:0;
	display:inline-block;
}
.logo{
	font-size:150%;
	display:inline-block;
	width:250px;
	text-align:center;
}
.logo img{
	width:140px;
}
/*Input form stuff*/
.deliveryform{
	overflow:hidden;
}
.formpart{
	width:220px;
	float:left;
	padding:0 10px;
}
.sizes input{
	width:50px;
	display:inline;
}
.sizes label{
	display:inline;
}
.formcheckbox{
	padding-top:17px;
	padding-bottom:8px;
}
#notification{
	color:red;
	clear:both;
	padding:10px 20px;
	display:none;
}


/*result table staff*/
.result{
	background-color:#fff;
	padding: 20px 0;
}
#resultTable{
	 border-collapse: collapse;
	 margin:0 10px;
}
#resultTable td{
	border-bottom: 1px solid #afafaf;	
	margin: 0px;
}
#resultTable th{
	background-color:#aacdff;
}
#resultTable th, .resultTable td{
	text-align:left;
	width:240px;
}
#resultTable th:last-child, .resultTable td:last-child{
	width:220px;
}

#load{
	width:100%;
	display:none;
}
#load img{
	display:block;
	margin:0 auto;
	height:40px;
	width:40px;
}
#images_cache{
	display:none;
}
/*footer*/
.footer span{
	display:inline-block;
	width:120px;
}
.footer span:first-child{
	margin-left:10px;
	width:110px;
}
