// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagetitle{
	font-weight:600;
	font-size:120%;
	padding-bottom:10px;
}
.pagetitle, .pagecontent{
	margin:0 20px;
}