// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagetitle{
	padding-bottom:10px;
}
.pagetitle, .pagecontent{
	margin:0 20px;
}
#page_content{
	width:100%;
	height:350px;
}
.page-content img{
	padding:5px 20px;
}